__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
venv/
.env
.DS_Store

logs/**
!logs/.gitkeep

videos/output/**
videos/input/**
!videos/input/download.py
!videos/input/.gitkeep
!videos/output/.gitkeep
!videos/output/result-people.mp4
!videos/output/result-people-deepsort.mp4
snapshots/**
!snapshots/.gitkeep

.vscode/
.idea/